/kaspar/target/
/.idea/
/bin/spark-warehouse/
/docker/resources/spark*
/bin/derby.log
/bin/metastore_db/
/kaspar/.idea/
/kaspar/*.iml
/kaspar/dependency-reduced-pom.xml
*.DS_Store
aws_keys.sh
exampleMemRead.txt
