/kaspar/target/
/.idea/
/kaspar_server/.idea/
/kaspar_server/target/
/bin/spark-warehouse/
/docker/resources/spark*
/bin/derby.log
/bin/producer.properties
/bin/metastore_db/
/kaspar/.idea/
*.iml
/kaspar/dependency-reduced-pom.xml
*.DS_Store
aws_keys.sh
exampleMemRead.txt
